{% extends "blog/base.html" %} 
{% load static %} 


{% block content %}

<div class="blog-post">
	<h2 class="blog-post-title">About me </h2>
	<p>
	Born and raised in Cape Town, the outdoors have always played a big part in my life. My father was an avid hiker and Mountain Club of South Africa member his whole life, and he managed to pass the bug on to me. Through scouting (11-18 years old) I was able to plan and organize my own hikes taking other scouts out into the mountains. Although it's difficult to tell for sure, I think these experiences developed my hiking leadership skills and pathfinding abilities - I love perusing maps, especially when visiting new places (mountainous or not)! I have fantastic memories of traipsing around the cederberg with a bunch of scouts for the exciting biennial Senior Scout Adventure held in December. My relationship with that area is still strong to this day.  
	</p>
	<p>
	I started studying a bachelor of science in Physics and Astrophysics at the University of Cape Town, and very quickly joined the wonderful Mountain and Ski Club (If you're wondering, about the ski part, let's just say that it's very, very small!). In this club I made some of my best friends and memories on countless adventures, and also started rock-climbing - the natural progression for when mountains get steeper and steeper. The Tsitskimma trail, Outeniqua trail, Amatola trail, Naukluft trail in Namibia, and countless trips to our UCT hut in the hex - some in snow, others along the Witels river - gave me some of the most enjoyable experiences of my life, in wild and pristine places, often with very entertaining people. 
	</p>
	<p>
	After completing my Honours degree in Astrophysics, I decided to take a bit of a gap year. The first few months were spent working at a ski resort in California, where I actually learnt to ski properly - not dodging rocks at Waaihoek! I walked the Camino in Spain (loved it) and ended up volunteering at an international scout centre in the Swiss Alps. I got my first taste of alpinism using crampons, and also learnt that alpinism is much riskier than rock climbing, but arguably more rewarding, especially when you're on the summit of a high peak with views in every direction. I'm still in two minds on deciding if I would like to climb high alpine peaks some days - I really hate being cold!
	</p>
	<p>
	I'm currently working on a Master's degree in Astrophysics with the intention of pursuing a PhD. And continuing with outdoor adventures whenever I can. 
	</p>


<div class="thumbnail">
<img src="{% static 'zion.jpg' %}" >
   <div class="caption text-center">
        <p>The red walls of Zion National Park. Thanks Bruce for the pic!</p>
   </div>

</div>

</div>
{% endblock %}